
    body {
        position: relative;
        background: radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a{
        text-decoration: none;
    }
    
    .logo{
        font-size: 60px;
        text-align: center;
        margin-bottom: 20px;
        color: #fff;
    }

    .wrap {
        width: 500px;
    }

    form {
        display: flex;
        margin-bottom: 30px;
        padding-bottom: 10px;
    }

    .txt {
        width: 80%;
        outline: none;
        border-radius: 16px 0 0 16px;
        padding: 10px 20px;
        border: none;
    }

    .save {
        width: 20%;
        border-radius: 0 16px 16px 0;
        outline: none;
        padding: 10px;
        border: none;
        background-color: gray;
        color: #fff;
        font-weight: bold;
    }


    .list{
        border: 1px solid #000;
        padding: 5px 15px;
        border-radius: 16px;
        background-color: #fff;
    }

    .list_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px 0;
        background-color: #fff;
        padding: 10px;
        border-bottom: 1px solid #000;
    }

    .list_footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .nav_list{
        display: flex;
        margin-top: 10px;
    }
    .nav_item{
        width: 30%;
        text-align: center;
        padding: 10px;
        border: 1px solid #000;
        border-radius: 25px;
        margin: 0 10px;
    }

    .nav_item a{
        display: block;
    }

    button {
        background-color: #FFf;
        border: none;
        border-radius: 50%;
    }

    .completed{
        text-decoration: line-through
    }