<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="all.css">
</head>

<body>


    <div class="wrap">
        <div id="app">
            <h1 class="logo">TodoList</h1>

            <form action="">
                <input type="text" class="txt" placeholder="輸入待辦事項" v-model="newTodo" @keyup.enter="addTodo">
                <input type="button" class="save" value="儲存代辦" @click="addTodo">
            </form>


            <ul class="list">
                <ul class="nav_list">
                    <li class="nav_item"><a type="button" href="#" @click="visibility='all' ">全部</a></li>
                    <li class="nav_item"><a type="button" href="#" @click="visibility='doing' ">執行中</a></li>
                    <li class="nav_item"><a type="button" href="#" @click="visibility='completed' ">完成</a></li>
                </ul>
                <li class="list_item" v-for="(item,key) in filteredTodos">
                    <div>
                        <input type="checkbox" v-model="item.completed">
                        <label for="" :class="{'completed':item.completed}">{{ item.content }}</label>
                    </div>
                    <button type="button" class="delete" @click="removeTodo(key)">
                        <span class="material-icons">
                            close
                        </span>
                    </button>
                </li>
                <div class="list_footer">
                    <div>還有{{  undoneTodos.length}}筆任務未完成</div>
                    <div>
                        <button type="button" @click="removeAll">清除所有任務</button>
                    </div>
                </div>
            </ul>


        </div>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <!-- <script>


        const txt = document.querySelector('.txt');
        const save = document.querySelector('.save');
        const list = document.querySelector('.list');

        let data = [
            {
                "content": "待辦事項一"
            },
            {
                "content": "今天記得買蛋糕"
            },
            {
                "content": "回家前買生魚片"
            }
        ]

        renderData();

        // 資料初始化
        function renderData() {

            let str = '';
            data.forEach(function (item, index) {
                str += `  <li>
                    <div>
                        <input type="checkbox">
                    ${item.content}
                        </div>

                    <button type="button" class="delete"  data-num="${index}">
                        <span class="material-icons">
                            cancel
                    </span>
                    </button>
                    </li>`
            })



            // console.log(str);
            const list = document.querySelector(".list")
            list.innerHTML = str;
        }

        // 點擊新增資料
        save.addEventListener('click', function (e) {
            if (txt.value == "") {
                alert("請輸入內容");
                return;
            }

            let obj = {};
            obj.content = txt.value;
            console.log(obj);
            data.push(obj);
            renderData();
            txt.value = ""; //新增完清空輸入欄
        })


        //刪除資料 範圍監聽
        list.addEventListener('click', function (e) {
            // console.log(e.target.nodeName);

            //範圍監聽
            if (e.target.nodeName !== "SPAN") {
                console.log('沒有點擊到按鈕')
                // alert("你目前不是點擊到按鈕");
                return;
            } else if (e.target.nodeName == "BUTTON") {

            }

            //選取陣列內容
            let num = e.target.getAttribute("data-num");
            console.log(num);
            data.splice(num, 1);
            renderData();
        })

    </script> -->


    <script>
        Vue.createApp({
            data: function () {
                return {
                    newTodo: '',
                    todos: [
                        {
                            content: "代辦事項一",
                            completed: false
                        },
                        {
                            content: "代辦事項二",
                            completed: false
                        },
                        {
                            content: "代辦事項三",
                            completed: false
                        },
                    ],
                    visibility: 'all',
                }
            },
            methods: {

                // 新增
                addTodo: function () {
                    let value = this.newTodo;
                    this.todos.push({
                        content: value,
                        completed: false
                    });
                    this.newTodo = '';
                },

                // 刪除
                removeTodo: function (key) {
                    this.todos.splice(key, 1);
                },

                removeAll: function (){
                    this.todos = [];
                }

            },
            computed: {
                filteredTodos: function(){
                    if(this.visibility == 'all'){
                        return this.todos;
                    }else if(this.visibility == 'doing'){
                        let newTodos= [];
                        this.todos.forEach(function (item) {
                            if(!item.completed) {
                                newTodos.push(item);
                            }
                        })
                        return newTodos;
                    } else if (this.visibility == 'completed'){
                        let newTodos = [];
                        this.todos.forEach(function (item) {
                            if(item.completed){
                                newTodos.push(item);
                            }
                        })
                        return newTodos;
                    }
                },
                undoneTodos: function () {
                    return this.todos.filter(todo => todo.completed != true);
                }
            },
            mounted: function () {

            },

        }).mount('#app')
    </script>
</body>

</html>